<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="juborajsarker.mytourmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:label="SIgn In" />

        <activity
            android:name=".SignUpActivity"
            android:label="Register" />

        <activity
            android:name=".HomeActivity"
            android:label="Home" />

        <activity
            android:name=".nearby.NearbyActivity"
            android:label="Nearby places" />

        <activity
            android:name=".travel_event.TravelEventActivity"
            android:label="Travel event" />

        <activity
            android:name=".travel_expence.TravelExpenceActivity"
            android:label="Travel expense" />

        <activity
            android:name=".TravelMomentActivity"
            android:label="Travel moment" />

        <activity
            android:name=".MomentGalleryActivity"
            android:label="Moment gallery">

        </activity>
        <activity
            android:name=".WeatherMainActivity"
            android:label="Weather Main Activity">

        </activity>
        <activity
            android:name=".WeatherDetail"
            android:label="Weather Details Activity"></activity>
    </application>

</manifest>